@import 'bootstrap';

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#welcome-page, #dashboard {
  margin-bottom: 40px;
  margin-top: 50px;
  .jumbotron {
      padding: 4rem 2rem;
  }

  .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: transparent;
      border: 3px solid #000;
      border-radius: 10px;

  }
  .card {
    border: 3px solid #000;
    border-radius: 10px;
  }
}

#welcome-page {
  .logo {
    margin-bottom:10px;
    width:100px;
  }
  h4 {
    margin-left: 12px;
  }
}
#dashboard {
  .logo {
    margin-bottom:10px;
    width:64px;
  }
  h2 {
    margin-left: 12px;
    padding: 10px 5px;
    text-transform:uppercase;
  }
  .card {
    .card-title {
      text-transform:uppercase;
    }
  }
  #user-info {
    padding-right: 20px;
    margin-top: 30px;
    li {
      font-size: 12px;
      color: #f5f3ed;
      text-shadow:
       -2px -2px 2px #adc8da,
        1px -1px 0 #adc8da,
        -1px 1px 0 #adc8da,
         2px 2px 2px #adc8da;
    }
  }
}


// error messages styles

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .has-error {
    color: #555;
    display: block;
  }
  .help-block {
        color: #a94442;
        display: block;
        font-style: italic;
  }
}

// login form styles
// .form-signin {
//   max-width: 330px;
//   padding: 15px;
//   margin: 0 auto;
// }

.form-signin {
  label {
    font-weight: bolder;
  }

  .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
  }

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-control:focus {
    z-index: 2;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  abbr[title="required"] {
    display: none;
  }
  .btn-login {
    padding: 20px 30px;
    margin-top: 65px;
    background: #f3f3f3;
    border-color: #373a3c;
    border: 3px solid #000;
    border-radius: 10px;
  }

}
